<% layout("/layouts/boilerplate") %>
<body>
    <h3>Listing Details : </h3>
    <ul>
        <li><%= listing.title %></li>
        <li><%= listing.description %></li>
        <li> &#8377;<%= listing.price.toLocaleString("en-IN") %></li>
        <li><%= listing.location %></li>
        <li><img src="https://images.unsplash.com/photo-1552733407-5d5c46c3bb3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60"></li>
        <li><%= listing.country %></li>
    </ul>
    <br />
    <a href="/listings/<%= listing._id %>/edit">Edit this Listing</a>
    <br><br>
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button>Delete this listing</button>
    </form>
</body>
